<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings><add name="Proyecto2.Properties.Settings.entiespaisEntities" connectionString="Data Source=DESKTOP-RG9EVAS\SQLEXPRESS;Initial Catalog=entiespais;User ID=sa;Password=cep" providerName="System.Data.SqlClient" />
  <add name="entiespaisEntities" connectionString="metadata=res://*/ModelEntiEspais.csdl|res://*/ModelEntiEspais.ssdl|res://*/ModelEntiEspais.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RG9EVAS\SQLEXPRESS;initial catalog=entiespais;persist security info=True;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="entiespaisEntities1" connectionString="metadata=res://*/ModelEntiespais.csdl|res://*/ModelEntiespais.ssdl|res://*/ModelEntiespais.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RG9EVAS\SQLEXPRESS;initial catalog=entiespais;persist security info=True;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>